<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Transcript Analyzer</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="content">
        <h1>YouTube Video Sumarizer</h1>
        <div class="container">
            <div>
                <input type="text" id="videoUrl" placeholder="Enter YouTube Video URL"
                    style="width: 300px; padding: 15px;">
                <button onclick="getResponse()" style="padding: 15px;">Get Transcript Analysis</button>
            </div>
            <div class="output" id="responseOutput">Video summary will appear here...
                example of the summary
            </div>
        </div>

    </div>

    <script src="/static/script.js"></script>
</body>

</html>
